@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style Fixes */

/* prose checkbox lists css fix */

ul[data-type="taskList"] {
    margin-left: 0;
}

ul[data-type="taskList"] li > div {
    margin-bottom: 0;
}

ul[data-type="taskList"] label {
    margin-top: 0;
}